@font-face {
    font-family: "Guruwords";
    src: url("../../fonts/Guruwords.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

#body {
    transform-origin: top left;
    width: 1220px;
    height: auto;
    font-family: "Guruwords";
}

#body>div {
    width: 1220px;
    background: url(imgs/background.png) no-repeat;
}

#account {
    height: 424px;
}

#user-avatar {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 73px;
    top: 105px;
    z-index: 1;
    border-radius: 50%;
}

#user-name {
    position: relative;
    left: 323px;
    top: 132px;
    height: auto;
    color: white;
    font-size: 58px;
}

#user-uid {
    position: relative;
    left: 462px;
    top: 143px;
    color: white;
    font-size: 39px;
}

.title {
    position: relative;
    margin: 52px 0px 0px 0px;
    width: 1108px;
    height: 242px;
}

.title>img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.title>.exploratory-text {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 300px;
    height: 242px;
    width: 758px;
    justify-content: space-between;
}

.exploratory-text>.exploratory-name {
    left: 272px;
    color: #fdf8ea;
    font-size: 67px;
}

.exploratory-text>.exploratory-degree {
    right: 58px;
    text-align: right;
    color: #f1e5be;
    font-size: 47px;
}

.country {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 21px 0px 0px 58px;
    width: 1108px;
}

.area {
    width: 49%;
    margin-bottom: 20px;
}

.area-name {
    display: block;
    padding: 20px 0px 0px 30px;
    height: 130px;
    background: url(imgs/area-bg.png) no-repeat;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
}

.area-key {
    display: inline-block;
    padding: 16px 0px 0px 14px;
    color: #fff;
    font-size: 45px;
}

.area-value {
    display: inline-block;
    padding: 16px 0px 0px 18px;
    color: #cfa251;
    font-size: 45px;
}

.progress-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

.progress-item {
    width: 33.33%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    border: 2px solid #e9e2dc;
    border-top-color: transparent;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
}

.progress-item .progress-number {
    width: 100%;
    text-align: center;
    margin: 8px 0px;
    color: #353535;
    font-size: 32px;
    font-weight: 700;
    order: 1;
}

.progress-item .progress-bar-frame {
    height: 26px;
    width: 90%;
    border-radius: 13px;
    border: 2px solid #cac0bc;
    margin: 4px auto;
    order: 2;
}

.progress-item .progress-bar-total {
    position: relative;
    left: 6px;
    top: 4px;
    width: 90%;
    background-color: #cbcbcb;
    border-radius: 16px;
}

.progress-item .progress-bar {
    height: 13px;
    background-color: #bfa852;
    border-radius: 16px;
}

.progress-item .progress-name {
    width: 100%;
    color: #353535;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 4px;
    order: 3;
}

#copyright {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

#copyright .version {
    color: #d3bc8e;
    display: inline-block;
    padding: 0 3px;
}
